:root {
  --u-app--font-family-normal: "Inter var", "Inter", ui-sans-serif, system-ui,
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Helvetica, Arial, "Noto Sans", sans-serif, "Uncertonle Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --u-app--font-family-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo,
    Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --u-app--font-size--base: 16px;

  --u-app--color--red--50: #fffbfc;
  --u-app--color--red--100: #ffedef;
  --u-app--color--red--200: #ffd2d9;
  --u-app--color--red--300: #fe9ca7;
  --u-app--color--red--400: #ff4e5e;
  --u-app--color--red--500: #ff0030;
  --u-app--color--red--600: #f10020;
  --u-app--color--red--700: #b90022;
  --u-app--color--red--800: #720812;
  --u-app--color--red--900: #180000;

  --u-app--color--orange--50: #fffbfa;
  --u-app--color--orange--100: #ffede9;
  --u-app--color--orange--200: #ffcebf;
  --u-app--color--orange--300: #ff9677;
  --u-app--color--orange--400: #ff6237;
  --u-app--color--orange--500: #ff2613;
  --u-app--color--orange--600: #e71b00;
  --u-app--color--orange--700: #ac2917;
  --u-app--color--orange--800: #720c0f;
  --u-app--color--orange--900: #150000;

  --u-app--color--yellow--50: #fefbf4;
  --u-app--color--yellow--100: #ffedc7;
  --u-app--color--yellow--200: #ffcc7d;
  --u-app--color--yellow--300: #ffa217;
  --u-app--color--yellow--400: #f5851f;
  --u-app--color--yellow--500: #cd7301;
  --u-app--color--yellow--600: #b66200;
  --u-app--color--yellow--700: #89490b;
  --u-app--color--yellow--800: #513102;
  --u-app--color--yellow--900: #120b00;

  --u-app--color--lime--50: #f0ffec;
  --u-app--color--lime--100: #b1ff9d;
  --u-app--color--lime--200: #5cfd01;
  --u-app--color--lime--300: #a5ff73;
  --u-app--color--lime--400: #4bc000;
  --u-app--color--lime--500: #25a200;
  --u-app--color--lime--600: #1b8c00;
  --u-app--color--lime--700: #006b01;
  --u-app--color--lime--800: #144100;
  --u-app--color--lime--900: #000700;

  --u-app--color--green--50: #f0fffa;
  --u-app--color--green--100: #bcfef0;
  --u-app--color--green--200: #57f6e2;
  --u-app--color--green--300: #00e3c8;
  --u-app--color--green--400: #01c295;
  --u-app--color--green--500: #00a481;
  --u-app--color--green--600: #008b74;
  --u-app--color--green--700: #006958;
  --u-app--color--green--800: #00403f;
  --u-app--color--green--900: #010609;

  --u-app--color--teal--50: #f7fcff;
  --u-app--color--teal--100: #dff3fe;
  --u-app--color--teal--200: #aedcfe;
  --u-app--color--teal--300: #56b9fa;
  --u-app--color--teal--400: #009be5;
  --u-app--color--teal--500: #009be5;
  --u-app--color--teal--600: #0077b1;
  --u-app--color--teal--700: #015791;
  --u-app--color--teal--800: #00345c;
  --u-app--color--teal--900: #01031a;

  --u-app--color--blue--50: #fbfcff;
  --u-app--color--blue--100: #eaf0fe;
  --u-app--color--blue--200: #bfd8ff;
  --u-app--color--blue--300: #80b4ff;
  --u-app--color--blue--400: #018bf8;
  --u-app--color--blue--500: #006beb;
  --u-app--color--blue--600: #005dd6;
  --u-app--color--blue--700: #014da5;
  --u-app--color--blue--800: #013064;
  --u-app--color--blue--900: #000518;

  --u-app--color--purple-50: #fdfbff;
  --u-app--color--purple-100: #f9ecff;
  --u-app--color--purple-200: #ecc9ff;
  --u-app--color--purple-300: #da90ff;
  --u-app--color--purple-400: #c23dff;
  --u-app--color--purple-500: #af00fb;
  --u-app--color--purple-600: #9500f0;
  --u-app--color--purple-700: #6a00d4;
  --u-app--color--purple-800: #3f0095;
  --u-app--color--purple-900: #0f002b;

  --u-app--color--pink--50: #fffafe;
  --u-app--color--pink--100: #ffecf8;
  --u-app--color--pink--200: #ffc6f6;
  --u-app--color--pink--300: #ff83e7;
  --u-app--color--pink--400: #ff00ce;
  --u-app--color--pink--500: #fd00bd;
  --u-app--color--pink--600: #e300af;
  --u-app--color--pink--700: #ad0096;
  --u-app--color--pink--800: #6a0058;
  --u-app--color--pink--900: #15000f;

  --u-app--color--gray--50: #fafbff;
  --u-app--color--gray--100: #ebf1fd;
  --u-app--color--gray--200: #cfddf7;
  --u-app--color--gray--300: #b5c3e0;
  --u-app--color--gray--400: #869dc7;
  --u-app--color--gray--500: #6080af;
  --u-app--color--gray--600: #476b9b;
  --u-app--color--gray--700: #2d4f7d;
  --u-app--color--gray--800: #0e3056;
  --u-app--color--gray--900: #01031c;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--u-app--font-family-normal);
  font-size: var(--u-app--font-size--base, 14px);
}

a {
  color: inherit;
  text-decoration: none;
}
